.tilegroundshock {
      background-image: url("./imgs/groundshock.jpg") !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
}

.tileskull {
      background-image: url("./imgs/skull.jpg") !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
}

.tilebigbang {
      background-image: url("./imgs/bigbang.jpg") !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
}

.tileguardian {
      background-image: url("./imgs/guardian.jpg") !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
}

.tilenuke {
      background-image: url("./imgs/nuke.jpg") !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
}

.tilethermo {
      background-image: url("./imgs/thermo.jpg") !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
}

.tilex52 {
      background-image: url("./imgs/x52.jpg") !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
}

.carTile {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) !important;
      background-color: #ffffff !important;
      width: 12.5rem !important;
      height: 10rem !important;
      display: inline-block !important;
}

.errorTile {
      border: 3px solid #cc0000 !important;
}

.warningTile {
      border: 3px solid yellow !important;
}

.okTile {
      border: 3px solid green !important;
}

.cellBackgroundgroundshock {
      background-color: rgba(75, 141, 202, 1) !important;
      background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255
            , 255, 255, .5) 35px, rgba(255, 255, 255, .5) 70px);
}

.cellBackgroundskull {
      background-color: rgba(242, 30, 32, 1) !important;
      background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255
            , 255, 255, .5) 35px, rgba(255, 255, 255, .5) 70px);
}

.cellBackgroundbigbang {
      background-color: rgba(83, 101, 77, 1) !important;
      background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255
            , 255, 255, .5) 35px, rgba(255, 255, 255, .5) 70px);
}

.cellBackgroundguardian {
      background-color: rgba(40, 37, 37, 1) !important;
      background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255
            , 255, 255, .5) 35px, rgba(255, 255, 255, .5) 70px);
}

.cellBackgroundnuke {
      background-color: rgba(173, 201, 64, 1) !important;
      background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255
            , 255, 255, .5) 35px, rgba(255, 255, 255, .5) 70px);
}

.cellBackgroundthermo {
      background-color: rgba(255,224,76, 1) !important;
      background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255
            , 255, 255, .5) 35px, rgba(255, 255, 255, .5) 70px);
}

.cellBackgroundx52 {
      background-color: rgba(255,224,76, 1) !important;
      background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255
            , 255, 255, .5) 35px, rgba(255, 255, 255, .5) 70px);
}

.carColorCell {
      display: inline-block !important;
      width: 200px !important;
      height: 50px !important;
      border: 2px outset #0a98dd !important;
      border-radius: 14px !important;
      position: relative !important;
}

.carColorCellBefore {
      display: inline-block !important;
      content: "" !important;
/*    width: 194px !important;  100% = 194px */ 
      height: 44px !important;
      display: block !important;
      position: absolute !important;
      left: 3px !important;
      top: 3px !important;
      z-index: 5 !important;
      border-top-left-radius: 7px !important;
      border-bottom-left-radius: 7px !important;
      border-top-right-radius: 7px !important;
      border-bottom-right-radius: 7px !important;
}

.carColorCellAfter {
      content: "" !important;
      width: 10px !important;
      height: 22px !important;
      background: #0a98dd !important;
      display: block !important;
      position: absolute !important;
      right: -11px !important;
      top: 14px !important;
      z-index: 5 !important;
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
}

.matrixCell {
      text-align: center !important;
}

.margin {
      margin: 0.5rem 0 0.5rem 0 !important;
}

.marginTop {
      margin: 0.5rem 0 0 0 !important;
}

.marginLeft {
      margin: 0 0 0 0.5rem !important;
}

.infoBox {
      float: right !important;
      width: 50% !important;
}

.rankLabelFourCars {
      font-size: 3rem !important;
}

.infoHeaderFourCars {
      font-size: 1.33rem !important;
}

.infoTextFourCars {
      font-size: 2.16rem !important;
}

.infoDiv {
      text-align: center !important;
      margin: 0 0.5rem 0 0.5rem !important;
      padding: 0 0 0 0 !important;
      float: left !important;
}

.timeDifference {
	  font-size: 2.16rem !important;
}

.timeDifferencePositive {
      color: #26FF00 !important;
}

.timeDifferenceNegative {
      color: #FF0033 !important;
}

.statusLabel {
      right: 170px !important;
      position: absolute !important;
      color: white !important;
}

.navArrow {
	right: 10px !important;
	position: absolute !important;
}

.refreshButton {
	right: 80px !important;
	position: absolute !important;
}

.header {
	background-color: #676A6C !important;
	z-index: 1 !important;
}

.blueline {
	background-color: #01B4EF !important;
	z-index: 2 !important;
	width:100% !important;
	height: 7px !important;
	vertical-align: top !important;
}
.logo {

	background-image: url("./imgs/saplogo.gif") !important;
	width: 70px !important;
	background-repeat: no-repeat !important;
	height: 100% !important;
	z-index: 4 !important;

}
.space {

}

.dropdown {
	position: absolute !important;
	right: 10px;
	z-index: 3 !important;
	float: right;
}

.headerText {
	color: white;
	
}